{% extends "layout-mobile.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12" id="vApp">
        <h3>Delete Product</h3>
        <form action="/product/{{product._id}}/delete" method="POST">
            <div class="form-group">
                {% set barcode = product.barcode %}
                {% include "parts/barcode.html" %}
            </div>
            <div class="form-group">
                {{product.name}}
            </div>
            <div class="form-group">
                {{product.size}}
                {{product.unit}}
            </div>
            <div class="form-group uploaded-photos">
                <div class="form-row">
                    {% for photo in product.photos %}
                    <div class="col" style="flex-grow:0; position:relative;">
                        <img src="https://kosinix-bucket1.s3-ap-southeast-1.amazonaws.com/small-{{photo}}" alt="photo-{{loop.index}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <a href="/product/{{product._id}}/edit" v-bind:disabled="pending" class="btn btn-link">Cancel</a>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-danger">Delete Permanently</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/JsBarcode.all.min.js"></script>
<script>
    JsBarcode("svg.barcode").init();
</script>
{% endblock %}