{% extends "document.html" %}

{% block body %}

<div class="row">
    <div class="col-md-12" id="vApp">
        <h3>Edit Product</h3>
        <form id="v-encode" ref="form" v-on:submit.prevent="onSubmit" v-cloak action="/product/edit" method="POST" enctype="multipart/form-data">
            <div v-if="!product">No product</div>
            <div v-else>
                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input v-model="product.barcode" id="barcode" name="barcode" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input v-model="product.name" id="name" name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <div class="form-row">
                        <div class="col">
                            <input v-model="product.size" id="size" name="size" type="number" class="form-control">
                        </div> 
                        <div class="col">
                            <select v-model="product.unit" name="unit" id="unit" class="form-control">
                                <option value="">(unit)</option>
                                <option value="g">g</option>
                                <option value="ml">ml</option>
                                <option value="L">L</option>
                            </select>
                        </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input v-model="product.description" id="description" name="description" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="photo">Product Photo</label>
                    {# <input id="photo" name="photo" type="file" class="form-control"> #}
                    <vue-uploader v-on:uploader-created="onUploaderCreated"
                    v-on:uploader-error="onUploaderError"
                    v-on:file-added="onUploaderFileAdded" v-on:file-progress="onUploadFileProgress" v-on:file-error="onUploadFileError" v-on:file-uploaded="onUploadFileUploaded" v-on:upload-complete="onUploadComplete"  url="/product/upload" ref="photo" id="photo" name="photo" label="Select File" max="2" file-size="10000000" accept="image/png,image/jpeg" v-bind:default-files="['https://kosinix-bucket1.s3-ap-southeast-1.amazonaws.com/small-53abc3cd8f3cdfafc58132e9506eb2fa6dcc5c3ffe39b08d9c90684f98bcffa5bd0c0fd70e63c4c558336dfbc5438c858f5df827fe54beed4ecd083c48c15893.jpeg']"></vue-uploader>
                </div>
                <button class="btn btn-primary">Save Product</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue.js"></script>
<script src="{{app.url}}/js/vue-uploader.js"></script>
<script>
    var app = new Vue({
        el: '#v-encode',
        delimiters: ["${", "}"],
        components: {
            {# 'vue-uploader': VueUploader.bootstrap, #}
            'vue-uploader': VueUploader.ajax,
        },
        data: {
            product: {{product|stringify|safe}},
            barcode: '',
            name: '',
            size: '',
            unit: '',
            description: '',
            photo: '',
        },
        created: function(){
            var barcode = getQuery('barcode')
            if(barcode){
                this.barcode = barcode
            }
        },
        methods: {
            onUploaderCreated: function(e){
                console.log('uploader-created', e)
            },
            onUploaderError: function(errorMsg, uploader){
                alert(errorMsg)
                console.error('uploader-error', errorMsg, uploader)
            },
            onUploaderFileAdded: function(file, uploaderState){
                console.log('file-added', file, uploaderState)
            },
            onUploadFileProgress: function(file, uploader, e){
                console.log('file-progress', file, uploader, e)
            },
            onUploadFileError: function(e){
                console.log('file-error', e)
            },
            onUploadFileUploaded: function(file, uploader, e, response){
                console.log('file-uploaded', file, uploader, e, response)
            },
            onUploadComplete: function(file, uploader, e, response){
                console.log('upload-complete', file, uploader, e, response)
            },
            onSubmit: function(){
                var me = this;
                me.$nextTick(function() {
                    me.$refs.photo.uploadBatch();
                });
            }
        }
    })
</script>
{% endblock %}