{% extends "document.html" %}

{% block body %}

<div class="row">
    <div class="col-md-12" id="vApp">
        <h3>Edit Product</h3>
        <form id="v-encode" ref="form" v-on:submit.prevent="onSubmit" v-cloak action="/product/edit" method="POST" enctype="multipart/form-data">
            <div v-if="!product">No product</div>
            <div v-else class="form-inner" v-bind:data-pending="pending">
                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input v-model="product.barcode" id="barcode" name="barcode" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input v-model="product.name" id="name" name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <div class="form-row">
                        <div class="col">
                            <input v-model="product.size" id="size" name="size" type="number" class="form-control">
                        </div> 
                        <div class="col">
                            <select v-model="product.unit" name="unit" id="unit" class="form-control">
                                <option value="">(unit)</option>
                                <option value="g">g</option>
                                <option value="ml">ml</option>
                                <option value="L">L</option>
                            </select>
                        </div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input v-model="product.description" id="description" name="description" type="text" class="form-control">
                </div>
                <div v-if="photos.length > 0" class="form-group uploaded-photos">
                    <label for="photo">Product Photos</label>
                    <div class="form-row">
                        <div class="col" style="flex-grow:0; position:relative;" v-for="photo in photos">
                            <button v-on:click="deletePhoto(photo)" type="button" style="position:absolute; right:5px; top:0;" class="btn btn-sm btn-danger">x</button>
                            <img v-bind:src="'https://kosinix-bucket1.s3-ap-southeast-1.amazonaws.com/small-'+photo" alt="photo">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="photo">Upload Photos</label>
                    {# <input id="photo" name="photo" type="file" class="form-control"> #}
                    <vue-uploader v-on:uploader-created="onUploaderCreated"
                    v-on:uploader-error="onUploaderError"
                    v-on:file-added="onUploaderFileAdded" v-on:file-progress="onUploadFileProgress" v-on:file-error="onUploadFileError" v-on:file-uploaded="onUploadFileUploaded" v-on:upload-complete="onUploadComplete"  url="/product/{{product.barcode}}/photos" ref="photo" id="photo" name="photo" label="Select File" max="2" file-size="10000000" accept="image/png,image/jpeg" v-bind:default-files="[]"></vue-uploader>
                </div>
                <button v-bind:disabled="pending" class="btn btn-primary">${btnLabel}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/axios.min.js"></script>
<script src="{{app.url}}/js/script-axios-util.js"></script>
<script src="{{app.url}}/js/vue.js"></script>
<script src="{{app.url}}/js/pica.min.js"></script>
<script src="{{app.url}}/js/vue-uploader-pica.js"></script>
<script>
    var app = new Vue({
        el: '#v-encode',
        delimiters: ["${", "}"],
        components: {
            'vue-uploader': VueUploader.pica,
        },
        data: {
            pending: false,
            product: {{product|stringify|safe}},
            barcode: '',
            name: '',
            size: '',
            unit: '',
            description: '',
            photo: '',
            photos: [],
        },
        created: function(){
            var barcode = getQuery('barcode')
            if(barcode){
                this.barcode = barcode
            }
            if(this.product.photos){
                for(var x = 0; x < this.product.photos.length; x++){
                    this.photos.push(this.product.photos[x])
                }
            }
        },
        computed: {
            btnLabel: function(){
                if(this.pending){
                    return 'Saving....'
                }
                return 'Save Product'
            }
        },
        methods: {
            onUploaderCreated: function(e){
                //console.log('uploader-created', e)
            },
            onUploaderError: function(error, uploader){
                alert(error.message)
                //console.error('uploader-error', error.code, uploader)
            },
            onUploaderFileAdded: function(file, uploaderState){
                //console.log('file-added', file, uploaderState)
            },
            onUploadFileProgress: function(file, uploader, e){
                //console.log('file-progress', file, uploader, e)
            },
            onUploadFileError: function(e){
                //console.log('file-error', e)
            },
            onUploadFileUploaded: function(file, uploader, e, response){
                console.log('file-uploaded', file, uploader, e, response)
                var me = this;

                let r = JSON.parse(response)
                let z = r.saveList[file.uid]
                for(x = 0; x < z.length; x++ ){
                    var src = z[x];
                    me.photos.push('https://kosinix-bucket1.s3-ap-southeast-1.amazonaws.com/small-' + src)
                }
                
            },
            onUploadComplete: function(file, uploader, e, response){
                var me = this;
                me.$refs.form.submit();
            },
            deletePhoto: function(src){
                var me = this;
                me.pending = true;
                
                window.utils.axios.delete('/product/{{product._id}}/photo/'+src).then(function(response){
                    console.log(response.data);
                    var index = _.findKey(me.photos, (photo) => {
                        return src === photo;
                    });
                    me.photos.splice(index, 1)
                    alert("Photo removed.");

                }).catch(function(error){
                    handleAxiosError(error);
                }).then(function(){
                    me.pending = false;
                });
            },
            onSubmit: function(){
                var me = this;
                me.$nextTick(function() {
                    me.pending = true;
                    if(me.$refs.photo.status === 'queued'){
                        me.$refs.photo.upload();
                    } else {
                        me.$refs.form.submit();
                    }
                });
            }
        }
    })
</script>
{% endblock %}