{% extends "layout-mobile.html" %}

{% block body %}

<div class="row">
    <div class="col-md-12" id="vApp">
        <h3>Search Product</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/scan">Scan Barcode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Input Barcode</a>
            </li>
        </ul>

        <div class="alert alert-info">Type the barcode manually in the field below.</div>
        <div class="form-row mb-2">
            <div class="col ml-auto mr-auto">
                <div id="interactive" class="viewport"></div>
            </div>
        </div>
        <form id="fScan" action="/scan" method="POST">
            <div class="form-group">
                <label for="barcode">Barcode</label>
                <input id="barcode" name="barcode" type="text" value="" class="form-control">
            </div>
            <div class="text-center">
                <button class="btn btn-success">Search</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}