<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Open Barcode Initiative</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{app.url}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{app.url}}/css/style-mobile.css" />
</head>
<body class="{{bodyClass}}">
<div class="layout-mobile">
    {% include 'parts/nav-main.html' %}
    <header>
        <div class="logo">
            <a class="" href="/"> 
                <img src="/images/logo-xs.png" alt="">
            </a>
        </div>
    </header>
    <main class="main">
        <div class="container-fluid pt-5 pb-5">
            {% block body %}{% endblock %}
        </div>
    </main>
</div>
</body>
</html>