{% extends "document.html" %}

{% block body %}

<div class="row">
    <div class="col-md-12" id="vApp">
        <h3>Encode Product</h3>
        <p class="alert alert-warning">Note: Only <a target="_blank" href="https://en.wikipedia.org/wiki/International_Article_Number">EAN-13</a> barcodes supported at the moment. (13-digit standard barcode)</p>
        <div class="form-row mb-2">
            <div class="col ml-auto mr-auto">
                <div id="interactive" class="viewport"></div>
            </div>
        </div>
        <form id="fScan" action="/scan" method="POST">
            <div class="text-center">
                <button class="btn btn-sm btn-primary" type="button" id="scan">Scan</button>
                <button class="btn btn-sm btn-danger" style="display:none" type="button" id="stop">X</button>
            </div>
            <div class="form-group">
                <label for="barcode">Barcode</label>
                <input id="barcode" name="barcode" type="text" value="4800888143402" class="form-control">
            </div>
            <div class="text-center">
                <button class="btn btn-success">Search Code</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/quagga.min.js"></script>
<script>
    var config = {
        inputStream: {
            type: "LiveStream",
            constraints: {
                width: { min: 320 },
                height: { min: 240 },
                aspectRatio: { min: 1, max: 100 },
                facingMode: "environment" // or user
            },
            target: document.querySelector('#interactive'),
        },
        locator: {
            patchSize: "medium",
            halfSample: true
        },
        numOfWorkers: 2,
        frequency: 10,
        decoder: {
            readers: [{
                format: "ean_reader",
                config: {}
            }]
        },
        locate: true
    }

    Quagga.onProcessed(function (result) {
        var drawingCtx = Quagga.canvas.ctx.overlay,
            drawingCanvas = Quagga.canvas.dom.overlay;

        if (result) {
            if (result.boxes) {
                drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                result.boxes.filter(function (box) {
                    return box !== result.box;
                }).forEach(function (box) {
                    Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                });
            }

            if (result.box) {
                Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
            }

            if (result.codeResult && result.codeResult.code) {
                Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
            }
        }
    });

    var candidates = {}
    var threshold = 3
    Quagga.onDetected(function (result) {
        var code = result.codeResult.code;
        code = code + ''
        if (candidates[code]) {
            if (candidates[code] >= threshold) {
                jQuery('#barcode').val(code)
                Quagga.stop()

                var drawingCtx = Quagga.canvas.ctx.overlay
                var drawingCanvas = Quagga.canvas.dom.overlay;

                if (result) {
                    if (result.boxes) {
                        drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));

                    }
                }
                jQuery('#fScan').submit()
            } else {
                candidates[code]++

            }
        } else {
            candidates[code] = 1
        }
        console.log(candidates)
    });
    jQuery(document).ready(function ($) {
        $('#scan').on('click', function (e) {
            $('#scan').hide()
            $('#stop').show()
            Quagga.init(config, function (err) {
                if (err) {
                    console.log(err);
                    alert(err.message)
                    return;
                }
                Quagga.start();
            });
        })
        $('#stop').on('click', function (e) {
            $('#scan').show()
            $('#stop').hide()
            $('#interactive').html('')
            Quagga.stop();
        })
    })
</script>
{% endblock %}